<div class="row px-3">
  <div class="card col-sm mr-sm-1 mb-3 mb-sm-0">
    <div class="card-body">
      <h5 class="card-title">Name: {{ leftOpponent.name }}</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">crew: {{ leftOpponent.crew }}</li>
        <li class="list-group-item">passengers: {{ leftOpponent.passengers }}</li>
      </ul>
    </div>
  </div>
  <div class="card col-sm ml-sm-1">
    <div class="card-body">
      <h5 class="card-title">Name: {{ rightOpponent.name }}</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">crew: {{ rightOpponent.crew }}</li>
        <li class="list-group-item">passengers: {{ rightOpponent.passengers }}</li>
      </ul>
    </div>
  </div>
</div>